.home {
    position: relative;
    height: 100vh;
    background-color: #2F3432;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: -50%;
        right: -50%;
        width: 200%;
        height: 5vh;
        background: #F6B714;
        transform: rotate(45deg);
    }

    &::before {
        top: -30%;
    }

    &::after {
        top: -20%;
    }

    h1 {
        position: relative;
        color: white;
        z-index: 1;
    }

    .logos {
        position: absolute;
        bottom: 20px;
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}
